@import url('../../bower_components/bootstrap/dist/css/bootstrap.css');
.mypageheader{
    height: 70px;
    background:darkred;
}

.navbar-default .mybrand{
    font-size: 30px;
    padding-top: 22%;
    color: #ffffff;
}

.mypagefooter{
    background: #0f0f0f;
    opacity: 0.9;
}

#footer {
    height: 120px;
    background: #0f0f0f;
    opacity: 0.9;
}

.mycontent{
    margin-top: 1.5%;
    /*margin-left: 0%;*/
}

.admin-sidebar {
    background-color:#E1EAB1 ;
    height: auto;
    position: relative;
}