<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="container-fluid">

        <!--{{eventData[0]['event_detail_id']}}-->
            <div class="row" ng-repeat="i in formData.result_length track by $index">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <eventwidget></eventwidget>
                </div>
            </div>




        <!--Model FOrm code starts here-->
        <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Update Event Details</h3>
        </div>
        <div class="modal-body">
        <form class="form-horizontal" role="form" enctype="multipart/form-data" novalidate name="eventForm">
        <h2 class="event-heading">Event Details</h2>
        <hr/>

        <div class="row well">
            <div class="col-lg-6">
                <div class="row">
                    <div class="form-group">
                        <label for="event_name" class="col-md-4 control-label">Event Name:</label>
                        <div class="col-md-8">
                            <input ng-class="{ 'has-error' : eventForm.event_name.$invalid && !eventForm.event_name.$pristine }" type="text" name="event_name" class="form-control" id="event_name" placeholder="Event Name" ng-model="updatedFormData.event_name[id]" ng-model-options="{ updateOn: 'blur' }" required>
                            <span class="validation-message" ng-show="eventForm.event_name.$error.required && eventForm.event_name.$dirty">Event name cannot be empty !</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="event_category" class="col-md-4 control-label">Event Category:</label>
                        <div class="col-md-8">
                            <select class="form-control" id="event_category" ng-options="var for var in event_categories track by var" name="event_category" ng-model="selectedCategory">

                            </select>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="event_cost" class="col-md-4 control-label">Cost:</label>
                        <div class="col-md-8">
                            <input type="number" ng-class="{ 'has-error' : eventForm.event_cost.$invalid && !eventForm.event_cost.$pristine }" class="form-control" id="event_cost" name="event_cost" placeholder="Minimum Cost" ng-model="updatedFormData.event_cost[id]"  ng-model-options="{ updateOn: 'blur' }" required min="0" max="100000">
                            <span class="validation-message" ng-show="eventForm.event_cost.$error.required && eventForm.event_cost.$dirty">Event cost cannot be empty</span>
                            <span class="validation-message" ng-show="eventForm.event_cost.$error.number && eventForm.event_cost.$dirty">Event cost should be a number !</span>
                            <span class="validation-message" ng-show="eventForm.event_cost.$error.min && eventForm.event_cost.$dirty">Event cost cannot be less than zero !</span>
                            <span class="validation-message" ng-show="eventForm.event_cost.$error.max && eventForm.event_cost.$dirty">Event cost cannot be greater than Rs.100000 !</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="form-group">
                        <label for="event_overview" class="col-md-4 control-label">Event Overview:</label>
                        <div class="col-md-8">
                            <textarea style="resize: none;" ng-class="{ 'has-error' : eventForm.event_overview.$invalid && !eventForm.event_overview.$pristine }" class="form-control" name="event_overview" rows="6" id="event_overview" ng-model="updatedFormData.event_overview[id]" ng-model-options="{ updateOn: 'blur' }" required ng-minlength="5"></textarea>
                            <span class="validation-message" ng-show="eventForm.event_overview.$error.required && eventForm.event_overview.$dirty">Event Overview cannot be empty !</span>
                            <span class="validation-message" ng-show="eventForm.event_overview.$error.minlength && eventForm.event_overview.$dirty">Event Overview details are too short !</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row well">
            <div class="col-lg-12" style="margin-left: 3%;">
                <div class="col-lg-1"><span class="hashtag-heading" style="font-size: 15px;font-weight: 800;">Hashtag:</span></div>
                <div class="col-lg-3" style="margin-left: 4%">
                    <div class="input-group">
                        <span class="input-group-addon">#</span>
                        <input type="text" class="form-control" id="hash1" ng-model="updatedFormData.event_hashtags[id][0]">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">#</span>
                        <input type="text" class="form-control" id="hash2" ng-model="updatedFormData.event_hashtags[id][1]">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">#</span>
                        <input type="text" class="form-control" id="hash3" ng-model="updatedFormData.event_hashtags[id][2]">
                    </div>
                </div>
            </div>
        </div>
        <!--Venue Form Starts here-->
        <h2 class="venue-heading">Venue Details</h2>
        <hr/>

        <div class="row well">
            <div class="col-lg-6">
                <div class="row">
                    <div class="form-group">
                        <label for="venue_name" class="col-md-4 control-label">Venue Name:</label>
                        <div class="col-md-8">
                            <input type="text" ng-class="{ 'has-error' : eventForm.venue_name.$invalid && !eventForm.venue_name.$pristine }" name="venue_name" class="form-control" id="venue_name" placeholder="Venue Name" ng-model="updatedFormData.venue_name[id]" ng-model-options="{ updateOn: 'blur' }" required ng-minlength="2">
                            <span class="validation-message" ng-show="eventForm.venue_name.$error.required && eventForm.venue_name.$dirty">Venue name cannot be empty !</span>
                            <span class="validation-message" ng-show="eventForm.venue_name.$error.minlength && eventForm.venue_name.$dirty">Venue name length can't be less than 3 !</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="event_city" class="col-md-4 control-label">City:</label>
                        <div class="col-md-8">
                            <select class="form-control" id="event_city" ng-options="var for var in event_cities track by var" name="event_city" ng-model="selectedCity" ng-change="getUpdatedEventArea(selectedCity)" required>

                            </select>
                            <span class="validation-notification" ng-show="eventForm.event_city.$error.required">Please select a City !</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="event_area" class="col-md-4 control-label">Area:</label>
                        <div class="col-md-8">
                            <select class="form-control" id="event_area" ng-options="var[0] as var[1] for var in event_areas  track by var[0]" name="event_area" ng-model="selectedArea">

                            </select>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="form-group">
                        <label for="event_location" class="col-md-4 control-label">Address:</label>
                        <div class="col-md-8">
                            <textarea style="resize: none;" ng-class="{ 'has-error' : eventForm.event_location.$invalid && !eventForm.event_location.$pristine }" name="event_location" class="form-control" rows="6" id="event_location" ng-model="updatedFormData.event_location[id]"  ng-model-options="{ updateOn: 'blur' }" required ng-minlength="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="schedule_heading">Event Schedule</h2>
        <hr/>

        <div class="row" ng-repeat="d in countDays" ng-hide="change_event_schedule_flag">
            <div class="col-lg-6">
                <input type="text" name="date" class="form-control modal_date_time" ng-model="updatedFormData.datetime_edit[id][d].date" placeholder="" ng-disabled="true">
            </div>
            <div class="col-lg-3">
                <input type="text" name="start_time" class="form-control modal_date_time" ng-model="updatedFormData.datetime_edit[id][d].start_time"  placeholder="" ng-disabled="true">
            </div>
            <div class="col-lg-3">
                <input type="text" name="end_time" class="form-control modal_date_time" ng-model="updatedFormData.datetime_edit[id][d].end_time" placeholder="" ng-disabled="true">
            </div>

        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                <div class="form-group">
                    <label for="change_schedule" class="col-md-6 control-label">Do you want to Change the Event schedule ?</label>
                    <div class="col-md-4">
                        <input type="checkbox" name="change_schedule" id="change_schedule" ng-model="change_event_schedule_flag">
                    </div>
                </div>
            </div>
        </div>


        <div ng-show="change_event_schedule_flag">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="repeat_event" class="col-md-6 control-label">Do you want to repeat the event (Weekly/Monthly) ?</label>
                        <div class="col-md-4">
                            <input type="checkbox" name="repeat_event" id="repeat_event" ng-model="updatedFormData.repeatEventCheckbox">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row well" ng-show="updatedFormData.repeatEventCheckbox">
                <div class="col-lg-12 form-group">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="weekly" ng-model="updatedFormData.repeatType" checked>
                                        Weekly {{week_checkbox}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <select class="form-control" id="no_of_weeks" name="no_of_weeks" ng-model="updatedFormData.no_of_weeks" ng-show="updatedFormData.repeatType == 'weekly'">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="monthly" ng-model="updatedFormData.repeatType">
                                        Monthly
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <select class="form-control" id="no_of_months" name="no_of_months" ng-model="updatedFormData.no_of_months" ng-show="updatedFormData.repeatType == 'monthly'">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-lg-2"></div>
                    <label for="no_of_days" class="col-md-2 control-label">Select no of Days: </label>
                    <div class="col-md-4">
                        <select class="form-control" id="no_of_days" name="no_of_days" ng-model="day" ng-change="change(day)">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row" mydatepicker day="day">

            </div>
            <div id="datepicker-placeholder" class="well"></div>
        </div>


        <h2 class="image-heading">Image Upload</h2>
        <hr/>

        <div class="row well">

            <div class="col-lg-4 col-md-4 col-sm-4">
                <!--<img src="foo.jpg" onerror="if (this.src != 'error.jpg') this.src = 'error.jpg';">-->
                <img height="160" width="200" ng-src="{{updatedFormData.image_encoded_path_array[0]}}" class="edit_image" ng-hide="isImageHidden[0]">
                <label for="image1" class="col-md-4 control-label">Primary Image: </label>
                <button class="btn btn-success" ng-file-change="handleSelectedFile(updatedFormData.images[0],0,updatedFormData.image[id][0].image_id, updatedFormData.image[id][0].image_path)" ng-file-select ng-model="updatedFormData.images[0]" ng-multiple="false" accept="image/*" id="image1" >Attach Image One</button>
                <div class="image_validation_message" ng-show="isAnyUpdatedFileSizeInvalid[0] && isAnyUpdatedFileSelected[0]">Image file size cannot be greater than 5 MB. Please choose a smaller file.</div>
                <div class="image_validation_message" ng-show="isAnyUpdatedFileInvalid[0] && isAnyUpdatedFileSelected[0]">All Image files should be either JPEG or PNG</div>
                <div class="file_name_preview">{{newly_selected_file[0]}}</div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <!--<img height="160" width="200" alt="/var/www/html/shout/app/images/placeholder.jpg" onerror="this.src='/images/placeholder.jpg'" ng-src="{{updatedFormData.image_encoded_path_array[1]}}" class="edit_image" ng-hide="isImageHidden[1]">-->
                <img height="160" width="200" ng-src="{{updatedFormData.image_encoded_path_array[1]}}" class="edit_image" ng-hide="isImageHidden[1]">
                <label for="image2" class="col-md-4 control-label">Image Two: </label>
                <button class="btn btn-success" ng-file-change="handleSelectedFile(updatedFormData.images[1],1,updatedFormData.image[id][1].image_id, updatedFormData.image[id][1].image_path)" ng-file-select ng-model="updatedFormData.images[1]" ng-multiple="false" accept="image/*" id="image2" >Attach Image Two</button>
                <div class="file_name_preview">{{newly_selected_file[1]}}</div>
                <div class="image_validation_message" ng-show="isAnyUpdatedFileSizeInvalid[1] && isAnyUpdatedFileSelected[1]">Image file size cannot be greater than 5 MB. Please choose a smaller file.</div>
                <div class="image_validation_message" ng-show="isAnyUpdatedFileInvalid[1] && isAnyUpdatedFileSelected[1]">All Image files should be either JPEG or PNG</div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <!--<object data="http://localhost/shout/app/images/placeholder.jpg" type="image/*">-->
                <img height="160" width="200" ng-src="{{updatedFormData.image_encoded_path_array[2]}}" class="edit_image" ng-hide="isImageHidden[2]">
                <!--</object>-->
                <label for="image3" class="col-md-4 control-label">Image Three: </label>
                <button class="btn btn-success" ng-file-change="handleSelectedFile(updatedFormData.images[2],2,updatedFormData.image[id][2].image_id, updatedFormData.image[id][2].image_path)" ng-file-select ng-model="updatedFormData.images[2]" ng-multiple="false" accept="image/*" id="image3" >Attach Image Three</button>
                <div class="file_name_preview">{{newly_selected_file[2]}}</div>
                <div class="image_validation_message" ng-show="isAnyUpdatedFileSizeInvalid[2] && isAnyUpdatedFileSelected[2]">Image file size cannot be greater than 5 MB. Please choose a smaller file.</div>
                <div class="image_validation_message" ng-show="isAnyUpdatedFileInvalid[2] && isAnyUpdatedFileSelected[2]">All Image files should be either JPEG or PNG</div>
            </div>
        </div>

        </form>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary"  ng-disabled="eventForm.$dirty && eventForm.$invalid || isAnyUpdatedFileSizeInvalid[0] ||isAnyUpdatedFileInvalid[0] || isAnyUpdatedFileExceptPrimaryHasError " ng-click="updateEventDetails()">Update</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            <div class="row" style="padding-top: 20px;">
                <div class="col-lg-12">
                    <div id="form-submit-message-placeholder">

                    </div>

                </div>
            </div>

        </div>
        </script>

    </div>
</div>
<!--<section id="map" >-->
    <!--<div ui-map="myMap" ui-options="mapOptions" class="map-canvas"></div>-->
<!--</section>-->
<!--<div style="height: 200px;width: 200px;position: absolute;"><img src="{{imageUrl}}" alt=""/></div>-->