<section id="about" class="section tabbable" style="height: 743px; ">
    <!-- Section Title -->
    <h2>About</h2>
    <!-- Subsection Title Navigation -->
    <ul class="nav nav-pills" id="an">
        <li class=""><a data-toggle="pill" href="#about-content">About</a></li>
        <li class="active"><a data-toggle="pill" href="#execs">Your Executives</a></li>
        <li class=""><a data-toggle="pill" href="#governing-documents">Governing Documents</a></li>
    </ul><!--"/.nav-pills"-->
    <div class="contentArea tab-content">
        <div class="contents tab-pane" id="about-content" style="width: 1019px; padding-left: 0px; ">
            <img src="//placehold.it/600x400&text=About"></img>
        </div><!-- /.contents -->
        <div class="contents tab-pane active" id="execs" style="width: 1019px; padding-left: 0px; ">
            <img src="//placehold.it/600x400&text=Your+Executives"></img>
        </div><!-- /.contents -->
        <div class="contents tab-pane" id="governing-documents" style="width: 1019px; padding-left: 0px; ">
            <img src="//placehold.it/600x400&text=Governing+Documents"></img>
        </div><!-- /.contents -->
    </div><!-- /.contentArea -->
</section>

        add event