<!--<a ui-sref="admin.add">Add</a>-->
<div class="row">


            <div id="sidebar" class="admin-sidebar">

                    <h3>Sidebar (fixed)</h3>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#">Section</a></li>
                        <li><a href="#">Section</a></li>
                        <li><a href="#">Section</a></li>
                        <li><a href="#">Section</a></li>
                        <li><a href="#">Section</a></li>
                        <li><a href="#">Section</a></li>
                        <li><a href="#">Section</a></li>
                        <li><a href="#">Section</a></li>
                        <li><a href="#">Section</a></li>
                        <li><a href="#">Section</a></li>
                    </ul>

            </div>

</div>
