<div class="media viewEvents">
    <div class="row">
        <div class="col-lg-4">
            <img class="media-object" height="100%" width="100%" ng-src="{{encoded_image_path_array[$index]}}" alt="Media Object"/>
        </div>
        <div class="col-lg-8">
            <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        This is some sample text. This is some sample text.
        This is some sample text. This is some sample text.
        This is some sample text. This is some sample text.
        This is some sample text. This is some sample text.
    </div>
    </div>
    </div>

</div>