<div class="media viewEvents">
    <div class="row">
        <div class="col-lg-4" style="height: 210px;">
            <img class="media-object" height="100%" width="100%" ng-src="{{encoded_image_path_array[$index]}}" alt="Media Object"/>
        </div>
        <div class="col-lg-8">
            <div class="media-body">
                <div class="row">
                    <div class="col-lg-6">
                        Event Name:
                    </div>
                    <div class="col-lg-6">
                        <h4 class="media-heading">{{formData.event_name[$index]}}</h4>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-6">
                        Venue:
                    </div>
                    <div class="col-lg-6">
                        <h4 class="media-heading">{{formData.venue_name[$index]}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        Cost:
                    </div>
                    <div class="col-lg-6">
                        <h4 class="media-heading">{{formData.event_cost[$index]}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        HashTags:
                    </div>
                    <div class="col-lg-6">
                        <h4 class="media-heading">{{formData.event_hashtags[$index]}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <button class="btn btn-default" ng-click="open('lg',formData, $index)">Update Event</button>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-default" ng-click="deleteEvent(formData.event_detail_id[i])">Delete Event</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>