<!-- THis page is the admin template
    where admin sidebar and admin content will
    be loaded in 2 diff coloumns  -->

<div class="row">
    <div class="col-lg-2">
        <ng-include src="'views/partials/adminSidebar.html'"></ng-include>
    </div>
    <div class="col-lg-10">
        <div id="page-content-wrapper">
            <div class="container-fluid" ng-controller="adminController">
                    <angucomplete id="members"
                                  placeholder="Search members"
                                  pause="100"
                                  selectedobject="testObj"
                                  url="http://localhost/shout/server/userController.php?func=getSearchResults&city=Mumbai&q="
                                  datafield=""
                                  titlefield="area_name"
                                  descriptionfield="type"
                                  inputclass="form-control form-control-small"
                                  ng-model="selectedobject"
                                    ng-click="testa()"
                            />

            </div>
            {{testObj.originalObject.area_name}}
        <div ui-view></div>
        </div>
        </div>
    </div>
</div>
